<div id="portfolio_hyperlinks">
<%= link_to "Graphic Design", portfolio_graphic_design_path %> /
<%= link_to "Interactive Design", portfolio_interactive_design_path %> /
<%= link_to "Creative Advertising", portfolio_creative_advertising_path %>
</div>