<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  // Galleria.loadTheme('/javascripts/galleria/src/themes/fullscreen/galleria.fullscreen.js');
  Galleria.loadTheme('/javascripts/galleria/src/themes/classic/galleria.classic.js');
  //  Galleria.debug = true
  var data = [
  {
       image: '/images/02_interactive_design/portfolio19.jpg'
   },
  {
       image: '/images/02_interactive_design/portfolio20.jpg',
       title: 'RecycleBank Website Homepage',
       description: 'Website Design'
   },
  {
       image: '/images/02_interactive_design/portfolio21.jpg',
       title: 'RecycleBank Website',
       description: 'Website Design'
   },
  {
       image: '/images/02_interactive_design/portfolio22.jpg',
       title: 'RecycleBank Website',
       description: 'Website Design'
   },
  {
       image: '/images/02_interactive_design/portfolio23.jpg',
       title: 'RecycleBank Website',
       description: 'Website Design'
   },
  {
       image: '/images/02_interactive_design/portfolio24.jpg',
       title: 'RecycleBank Newsletter and Corporate Site',
       description: 'Website Design'
   },
  {
       image: '/images/02_interactive_design/portfolio25.jpg',
       title: 'RecycleBank Website ReDesign',
       description: 'Website Design'
   },
  {
       image: '/images/02_interactive_design/portfolio26.jpg',
       title: 'Food Blog Design',
       description: 'Dontwingit.com Project'
   },
  {
       image: '/images/02_interactive_design/portfolio27.jpg',
       title: 'Soccer TV Show',
       description: 'Branding and Website Design'
   },
  {
       image: '/images/02_interactive_design/portfolio28.jpg',
       title: 'BrevityV',
       description: 'Brand Creation and Logo Design'
   },
  {
       image: '/images/02_interactive_design/portfolio29.jpg',
       title: 'BrevityV Interface',
       description: 'Software Interface Design'
   },
  {
       image: '/images/02_interactive_design/portfolio30.jpg',
       title: 'BrevityV Interface',
       description: 'Software Interface Design'
   },
  {
       image: '/images/02_interactive_design/portfolio31.jpg',
       title: 'BrevityV Interface',
       description: 'Software Interface Design'
   },
  {
       image: '/images/02_interactive_design/portfolio32.jpg',
       title: 'BrevityV Interface',
       description: 'Software Interface Design'
   },
  {
       image: '/images/02_interactive_design/portfolio33.jpg',
       title: 'BrevityV Interface',
       description: 'Software Interface Design'
   },
  {
       image: '/images/02_interactive_design/portfolio34.jpg',
       title: 'BrevityV Interface',
       description: 'Software Interface Design'
   },
  ];
  $('#gallery').galleria({
    transition: 'fade',
    image_crop: true,
    data_source: data
  });

});
</script>
<div id="gallery"></div>
<%= render :partial => "shared/hyperlinks" %>